ul li:hover{
    border: 1px solid black;
}


/*

.top_nav ul {background-color: white;
    border: 1px solid black;
    position: fixed;
    width: 100vw;
    text-align: center;
    justify-content: space-between;
    margin-top: 0px;  
    height: 10vh; 
}
*/

article{
    background-color: white;
    border: 1px solid white;
    margin: 50px;
    width: 30vw;
    }
    .A{
        width: 20vw;
        background-color: white;
        
    }
    
    .B{
        width: 20vw;
        height: 50vh;
        text-align: center;
    }
.flex-container{
    display: flex;
    border: solid white;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}
.flex-container2{
    display: flex;
    border: solid white;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;

}
.flex-container3{
    display: flex;
    border: solid white;
    justify-content: center;
    height: 100vh;
    width: 100vw; 
    margin: 0px;   
    background-color: blanchedalmond;
}
.top{
    height: 50vh;
    margin-bottom: 1px;
}
.flex_container4{
    display: flex;
    border: solid white;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    text-align: start;
    justify-content: space-around;
    background-color: blanchedalmond;
    border: 1px solid white;
}
.width{
    width: 100vw;
    
}
.mm{
    display: flex;
    justify-content: space-around;
    width: 30vw;
}


.flex_container5{
    display: flex;
    border: solid white;
    flex-wrap: wrap;
    height:500px;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    background-color: bisque;
}
.width2{
    width: 100vw;
    height: 60vh;
    border: 10x solid white;
}


.k{
    border: 1px solid  white;
    text-align: center;

    
}
button{
    background-color: bisque;
}
.last{
    width: 90vw;
    height: 80vh;
    justify-content: space-between;
    background-color: cornsilk;
    display: inline-block;
    
    
}
.h img{
    width: 10vw;
    margin-bottom: 0%;
    text-size-adjust: 43px ;
}
nav{display: flex;
    justify-content: space-around;
    text-align: center;
    color: black;
    position: fixed;
    background-color: aliceblue;
    width: 100vw;
  }
  .pop {
      display: flexbox;
      text-align: start;

  } 
  
    
  
  ul{
      list-style: none;
      text-align: center;
      justify-content: space-between;
  }
  li:hover {
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 2px;
    
  }
  .hop{
      display: flex;
  }
  .img{
      width: 60vw;
      height: 80vh;
  }
  .c{
      text-align: center;
      
  }
  .T{
      border: 1px solid black;
    
      width: 30vw;
      text-align: start;
      height: 5vh;
      
      
  }

  .first{ 
    justify-content: space-between;
    color: black;
    background-color: white;
    height: 60vh;
    width: 50vw;
    text-align: start;
    border: white;
    margin-bottom: 0px;

  }


/*
nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
  }
  section {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  li:hover {
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
  }
  
  ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    width: 20vh;
  }*/






    
